<h1><i>Book Your Shows!</i></h1>
<p><i>>>>>>>>>>> Happy Bookings! >>>>>>>></p>

<h3><%= link_to "Bookings",bookings_path%></h3>
<h3><%= link_to "Users",users_path%></h3>
<h3><%= link_to "Category",categories_path%></h3>
<h3><%= link_to "Events", events_path %></h3>
<h3><%= link_to "Roles",roles_path %></h3>
<h3><%= link_to "Location",locations_path %></h3>
<h3><%= link_to "City",cities_path %></h3>
<h3><%= link_to "Notifications",notifications_path %></h3>

